* {
    margin: 0;
    padding: 0;
}

header {
    display: none;
}

nav {
    background-color: #eed7b7b7;
    height: 100%;
    width: 20%;
}

#container {
    display: flex;
    background-color: #FFEDD3;
}

#listaSections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style-type: none;  
}

#listaSections > li {
    width: 100%;
    height: auto;
    align-items: center;
    transition: background-color 0.3s ease;
}

#listaSections > li > a {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    padding: 2.94rem 0 2.94rem 1rem;
    column-gap: 1rem;
}

.linkSections {
    color: #333333;
    font-size: 2rem; 
}

#listaSections li:hover {
    background-color: #33333315;
}

#listaSections svg {
    width: 3rem;
    height: auto;
    cursor: pointer;
    z-index: 1;
}

main {
    width: 100%;
}

#products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

article h2 {
    font-size: 3rem;
}

#articleListaProductos {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#articleAddProduct {
    width: 30%;
}

@media (width <= 1300px) {

    header {
        display: flex;
    }

    nav {
        display: none;
    }

    #panelHamburguesa {
        display: none;
    }

    .burger {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: block;
    }

    .burger input {
        display: none;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }

    .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
    }

    .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
    }

    #products {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #articleAddProduct > * {
        width: 100%;
    }

    nav {
        width: 20%;
    }

    .linkSections {
        display: none; 
    }

    #listaSections {
        width: 4rem;
    }

    #listaSections > li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 5rem 0 5rem 0;
        column-gap: 1rem;
    }

    #listaSections svg {
        width: 3rem;
        height: auto;
        cursor: pointer;
        z-index: 1;
    }
}